@import "base";
@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('fonts/HelveticaNeueB.eot');
	src: local('☺'), url('fonts/HelveticaNeueB.woff') format('woff'), url('fonts/HelveticaNeueB.ttf') format('truetype'), url('fonts/HelveticaNeueB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{margin:0;padding:0;-webkit-text-size-adjust: none; }
body{
	font: {
		family: Arial,sans-serif;
		weight: normal;
		size: 12px;
	}
	line-height:1.4;
}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:#00919e;
	&:hover{

	}
}
// common styles, these could be attached to any block with "@extend %wyswyg;"
%wyswyg{
	p{
		margin-bottom: 1em;
	}
	ul,ol{
		margin: 1em 2em;
		list-style: disc;
	}
	ol{
		list-style: decimal;
	}
	blockquote{
		margin: 1em 2em;
	}
	table{
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		td{
			border: 1px solid #ccc;
			padding: 5px;
		}
	}
}

.in{
	margin: 0 auto;
	width: 960px;
}
.header{
	display: inline-block;
	width: 100%;
	min-width: 1000px;
	padding: 46px 0 26px;
}
.logo{
	@extend %hide-text;
	@include sized-sprite($icons, 'logo');
	float: left;
	a{
		height: 100%;
		display: block;
	}
}
.contacts{
	float: right;
	margin-top: -2px;
	.contact{
		float: left;
		position: relative;
		border-right:1px solid #dde1e4;
		padding: 2px 30px 14px 50px;
	}
	.contact__connect{
		@include sized-sprite($icons, 'icon-01');
		position: absolute;
		left:16px;
		top:6px;
	}
	.contact__query{
		@include sized-sprite($icons, 'icon-02');
		position: absolute;
		left:23px;
		top:3px;
	}
	.contact__title{
		color: #5e6f81;
		font-size: 9px;
		text-transform: uppercase;
		display: block;
		line-height: 1.2;
		letter-spacing: -0.03em;
	}
	.contact__phone{
		color: #5e6f81;
		font-size: 23px;
		display: block;
		line-height: 1;
		margin-bottom: 6px;
	}
	.contact__email{
		font-size: 12px;
		color: #85ac2e;
		text-decoration: none;
		position: relative;
		padding: 0 0 0 21px;
	}
	.contact__mail{
		@include sized-sprite($icons, 'ico-mail');
		position: absolute;
		top:0;
		left:-10px;
		left:1px;
		top:3px;
	}
}
.social{
	float: right;
	padding: 3px 2px 0 23px;
	.fb{
		display: block;
		@extend %hide-text;
		@include sized-sprite($icons, 'fb');
		margin-bottom: 11px;
	}
	.tw{
		display: block;
		@extend %hide-text;
		@include sized-sprite($icons, 'tw');
	}
}

.sequence{
	background: #7fa52c;
	@include background-image(linear-gradient(left,#7fa52c, #9eca38));
	position: relative;
	min-width: 1000px;
	margin: -38px 0 0;
	height: 458px;
	h2{
		font-family: Calibri, Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-size: 24px;
		text-shadow:0 1px 0 rgba(0,0,0,.45);
		color:#fff;
		text-transform: uppercase;
		margin-bottom: 13px;
		letter-spacing: -0.01em;
		span{
			color:#e9fe00;
		}
	}
	.sequence-in{
		padding: 51px 0 61px;
		background: url(../img/bg-arr.png) no-repeat 100% 0;
		min-width: 1000px;
		height: 346px;
	}
	.devider{
		@include sized-sprite($icons, 'devider-1');
		margin: 0 auto;
		display: block;
	}
	.sequence__list{
		display: inline-block;
		width: 100%;
	}
	%sequence__item{
		float: left;
		position: relative;
		padding: 193px 0 0;
		img{
			position: absolute;
			display: block;
		}
	}
	.sequence__item1{
		@extend %sequence__item;
		width: 324px;
	}
	.sequence__item2{
		@extend %sequence__item;
		width: 327px;
	}
	.sequence__item3{
		@extend %sequence__item;
		width: 309px;
	}
	.img-book{
		top:0;
		left:28px;
	}
	.img-cogwheel{
		left: 50px;
		top: -4px;
	}
	.img-moneybox{
		left: 35px;
		top: -17px;
	}
	%sequence__num{
		@extend %hide-text;
		display: inline-block;
		margin: 0 26px 0 0;
		vertical-align: middle;
	}
	.sequence__num1{
		@extend %sequence__num;
		@include sized-sprite($icons, 'num_1');
	}
	.sequence__num2{
		@extend %sequence__num;
		@include sized-sprite($icons, 'num_2');
	}
	.sequence__num3{
		@extend %sequence__num;
		@include sized-sprite($icons, 'num_3');
	}
	p{
		text-shadow:0 1px 0 rgba(0,0,0,.45);
		font-size: 19px;
		font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
		color:#fff;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
		top: -4px;
		position: relative;
		line-height: 1.1;
	}
}


.work{
	margin-top: -4px;
	display: inline-block;
	width: 100%;
	min-width: 1000px;
	padding: 0 0 39px;
	.in{width: 1000px;}
	.how-it-work{
		float: left;
		width: 690px;
		margin-left: 20px;
		h2{
			@extend %hide-text;
			@include sized-sprite($icons, 'how-this-works');
			margin: 0 0 34px -3px;
			position: relative;
		}
	}
	.devider-shadow{
		@include sized-sprite($icons, 'devider-2');
	}
	.work-img{
		position: relative;
		margin: 13px 0 0 7px;
		@include sized-sprite($icons, 'work');
	}
	%work-text{
		position: absolute;
		color: #2b68af;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.2;
	}
	.work-text_1{
		@extend %work-text;
		font-size: 21px;
		left: 184px;
		top: 41px;
		width: 190px;
	}
	.work-text_2{
		@extend %work-text;
		left: 84px;
		top: 270px;
		width: 140px;
	}
	.work-text_3{
		@extend %work-text;
		top: 201px;
		width: 195px;
		left: 459px;
		span{
			color: #81a82d;
			font-size: 19px;
		}
	}
}
.benefits{
	float: left;
	width: 290px;
	padding: 9px 0 0;
	.benefits__title{
		font-size: 23px;
		font-weight: normal;
		color: #5e6f81;
		position: relative;
		padding-left: 64px;
		margin-bottom: 23px;
	}
	.icon-flag{
		position: absolute;
		@include sized-sprite($icons, 'flag');
		top:-3px;
		left:14px;
	}
	.benefits__box{
		border: 2px dashed #dcdcdc;
		border-radius:10px;
		margin: 0 0 0 6px;
		padding: 32px 15px 14px 25px;
		li{
			list-style: none;
			color: #647485;
			font-size: 17px;
			font-weight: bold;
			font-family: Calibri, Arial, Helvetica, sans-serif;
			margin: 0 0 19px;
			div{
				display: inline-block;
				vertical-align: middle;
				width: 195px;
				line-height: 0.9;
			}
		}
		%benefits__num{
			height: 26px;
			width: 26px;
			line-height: 26px;
			text-align: center;
			border-radius:50%;
			display: inline-block;
			color:#fff;
			text-shadow:0 1px 0 rgba(0,0,0,.45);
			font-size: 19px;
			background: #99c033;
			vertical-align: middle;
			margin-right: 11px;
			font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
		}
		.benefits__num1{
			@extend %benefits__num;
			@include background-image(linear-gradient(#95bf35, #9dc131));
		}
		.benefits__num2{
			@extend %benefits__num;
			@include background-image(linear-gradient(#a8c32c, #b4c625));
		}
		.benefits__num3{
			@extend %benefits__num;
			@include background-image(linear-gradient(#c3ca1e, #d1cd17));
		}
		.benefits__num4{
			@extend %benefits__num;
			@include background-image(linear-gradient(#e0d110, #ecd409));
		}
		.benefits__num5{
			@extend %benefits__num;
			@include background-image(linear-gradient(#f7d604, #ffd800));
		}
	}
	p{
		color: #647485;
		font-size: 15px;
		font-family: Calibri, Arial, Helvetica, sans-serif;
		line-height: 1.25;
	}
}


.credit{
	background: #2b68af url(../img/bg-basket.png);
	padding: 32px 0 0;
	.in{position: relative;}
	.credit__title{
		font-size: 48px;
		color:#fff;
		font-weight: normal;
		white-space: nowrap;
		line-height: 88px;
		margin: 0 auto 78px;
    	width: 960px;
	}
	.credit__tab{
		display: inline-block;
		vertical-align: middle;
		background: #2b68af;
		margin: 0 5px 0 20px;
		position: relative;
		top: -4px;
		li{
			list-style: none;
			float: left;
			line-height: 74px;
			height: 88px;
			padding: 0 22px;
			font-size: 50px;
			cursor: pointer;
			position: relative;
			font-family: Calibri, Arial, Helvetica, sans-serif;
			@include background-image(linear-gradient(rgba(0,0,0,.2), rgba(white,.2)));
			box-shadow:0 2px 1px rgba(0,0,0,.2) inset, 0 1px 1px rgba(white,.45);
			&:hover{
				@include background-image(linear-gradient(rgba(white,.2), rgba(0,0,0,.2)));
			}
		}
		.is-active{
			background:#fff;
			background-image: none;
			color: #8fb932;
			box-shadow:0 1px 2px rgba(0,0,0,.65);
			position: relative;
			&:after{
				content:'';
				position: absolute;
				@include sized-sprite($icons, 'arr3');
				bottom: -12px;
				margin-left: -8px;
				left: 50%;
			}
			&:hover{background-image: none;}
		}
	}
	.credit__select{
		display: inline-block;
		position: relative;
		width: 375px - 35px;
		height: 80px;
		line-height: 80px;
		border-bottom:4px solid #295c8f;
		background: #fff;
		color:#96bf34;
		padding: 0 0 7px 35px;
		top: -5px;
		font-family: Calibri, Arial, Helvetica, sans-serif;
		font-size: 60px;
		margin: 0 2px 0 14px;
		.arr{
			@include sized-sprite($icons, 'arr_b');
			position: absolute;
			top:50%;
			margin-top: -6px;
			right: 26px;
		}
		select{
			position: absolute;
			top:0;
			left:0;
			width: 375px;
			height: 91px;
			opacity: 0;
		}
	}
	.buy-link{
		font-size: 30px;
		color:#fff;
		text-decoration: none;
		border-bottom:1px dashed;
		position: absolute;
		top: 96px;
		left: 155px;
		line-height: 1;
	}
	.credit__list{
		display: inline-block;
		padding: 0 0 9px;
	}
	.credit__step{
		float: left;
		width: 302px;
		text-align: center;
		a:hover .credit__step-img img{
			box-shadow:0 0 0 13px #20528d;
		}
		p{
			font-size: 25px;
			font-family: Calibri, Arial, Helvetica, sans-serif;
			line-height: 1.2;
			color: #fff;
			letter-spacing: -0.01em;
			margin: 0 15px 0 15px;
		}
	}
	.credit__step-img{
		margin: 0 auto 8px;
		position: relative;
		height: 190px;
		width: 190px;
		a{display: inline-block;}
		img{
			border-radius:50%;
			box-shadow:0 0 0 6px #20528d;
			vertical-align: top;
		}
	}
	.credit__step-num{
		position: absolute;
		font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
		font-size: 44px;
		color:#fff;
		height: 60px;
		width: 60px;
		border-radius:50%;
		left:-2px;
		top:3px;
		text-shadow:0 1px 0 rgba(0,0,0,.3);
		box-shadow:0 1px 0 rgba(0,0,0,.5);
		@include background-image(linear-gradient(#9eca38, #7fa52c));
	}
	.credit__shadow{
		box-shadow:0 1px 6px #1b406c inset;
		position: absolute;
		top:0;
		left:0;
		border-radius:50%;
		width: 100%;
		height: 100%;
	}
	.next-arr{
		float: left;
		@include sized-sprite($icons, 'arr');
		margin: 68px 0 0;
	}
	.credit__bottom{
		background: #20528d;
		overflow: hidden;
		width: 100%;
		min-width: 1000px;
		padding: 24px 0 38px;
	}
	.credit__add-inf{
		font-family: Calibri, Arial, Helvetica, sans-serif;
		font-size: 15px;
		color:#fff;
		float: left;
		width: 320px - 60px;
		padding: 0 30px;
		text-align: center;
		line-height: 1.2;
	}
}
.credit_mod{
	background: #2b68af url(../img/bg-basket2.png);
	.credit__step-img{
		img{
			box-shadow:0 0 0 6px #668b13;
		}
	}
	.credit__step{
		a:hover .credit__step-img img{
			box-shadow:0 0 0 13px #668b13;
		}
	}
	.credit__shadow{
		box-shadow:0 1px 6px #40413e inset;
	}
	.credit__step-num{
		@include background-image(linear-gradient(#5792d1, #2f5e9e));
	}
	.credit__bottom{
		background: #668b13;
	}
	.credit__tab{
		background: #8fb932;
		.is-active{
			color:#2b68af;
		}
	}
}

.partners{
	background: #e8e8e8;
	display: inline-block;
	width: 100%;
	min-width: 1000px;
	padding: 33px 0 0;
	.is-open{height: auto;}
	.partners__title{
		@include sized-sprite($icons, 'title');
		text-align: center;
		margin: 0 auto;
		color:#2b68af;
		font-size: 22px;
		font-weight: bold;
		line-height: 50px;
		margin-bottom: 42px;
	}
	.partners__list{
		text-align: center;
		overflow: hidden;
		height: 222px;
		li{
			list-style: none;
			display: inline-block;
			width: 150px;
			height: 86px;
			line-height: 86px;
			background: #fff;
			border-radius:7px;
			box-shadow:0 1px 0 rgba(0,0,0,.25);
			margin: 0 14px 25px;
			text-align: center;
		}
		a{
			display: block;
			height: 100%;
		}
		img{
			vertical-align: middle;
		}
	}
	&.is-open{
		.partners__list{height: auto;}
	}
	.btn-more{
		margin: -13px auto -17px;
	}
}
.is-open{
	.partners__list{
		margin-bottom: 21px;
	}
	.btn-more{
		background-position: sprite-position($icons, 'more2');
		color:#fff;
		.btn-more__arr{
			display: block;
		}
	}
}
.btn-more{
	@include sized-sprite($icons, 'more');
	text-align: center;
	margin: 0 auto;
	display: block;
	text-decoration: none;
	line-height: 37px;
	font-size: 14px;
	color:#2b68af;
	position: relative;
	.btn-more__arr{
		display: none;
		position: absolute;
		@include sized-sprite($icons, 'arr2');
		top:16px;
		right: 38px;
	}
}


.clients{
	display: inline-block;
	width: 100%;
	min-width: 1000px;
	padding: 48px 0;
	.clients__title{
		text-align: center;
		color:#2b68af;
		font-size: 22px;
		font-weight: bold;
		line-height: 50px;
		margin-bottom: 21px;
	}
	.clients__list{
		text-align: center;
		height: 222px;
		overflow: hidden;
		li{
			list-style: none;
			display: inline-block;
			width: 150px;
			height: 86px;
			line-height: 86px;
			background: #fff;
			border-radius:7px;
			box-shadow:0 0 5px rgba(0,0,0,.19);
			margin: 0 14px 25px;
			text-align: center;
		}
		a{
			display: block;
			height: 100%;
		}
		img{
			vertical-align: middle;
		}
	}
	&.is-open{
		.clients__list{height: auto;}
	}
	.btn-more{margin-top: 8px;}
}


.request{
	background: #7fa52c;
	@include background-image(linear-gradient(#7fa52c, #99c536));
	box-shadow: 0 1px 1px rgba(0,0,0,.25) inset;
	padding: 0 0 48px;
	h2{
		font-family: Calibri, Arial, Helvetica, sans-serif;
		font-size: 60px;
		font-weight: normal;
		color: #fff;
		letter-spacing: -0.02em;
		text-align: center;
		line-height: 1.5;
		margin-bottom: -2px;
	}
	.row{
		margin: 0 232px 20px;
		position: relative;
		label{
			display: block;
			font-family: Calibri, Arial, Helvetica, sans-serif;
			font-size: 18px;
			color:#fff;
			margin:0 0 8px 33px;
		}
		.request__input{
			height: 68px;
			border-radius:34px;
			border:0;
			box-shadow:0 3px 0 #d4d4d4 inset;
			padding: 0 30px;
			width: 490px - 60px;
			color:#3b3b3b;
			font-size: 35px;
			font-family: Calibri, Arial, Helvetica, sans-serif;
			&:focus{outline: none; }
		}
		.request__input::-webkit-input-placeholder{color:#3b3b3b;}
		.request__input:-moz-placeholder{color:#3b3b3b;}
		.request__input::-moz-placeholder{color:#3b3b3b;}
		.request__input:-ms-input-placeholder{color:#3b3b3b;}
	}
	.add-placeholder{
		color: #fff;
		font-size: 35px;
		position: absolute;
		font-family: Calibri, Arial, Helvetica, sans-serif;
		margin: 0 14px 0 0;
		top: 40px;
		right: 100%;
	}
	.request__btn{
		height: 70px;
		margin:0 auto;
		width: 360px;
		text-align: center;
		font-size: 35px;
		font-family: Calibri, Arial, Helvetica, sans-serif;
		text-shadow:0 1px 0 rgba(0,0,0,.25);
		box-shadow:0 -3px 0 #023692 inset, 0 1px 0 #5f9920;
		background: #66e0ff;
		@include background-image(linear-gradient(#66e0ff, #0662b7));
		border-radius:35px;
		border:0;
		color:#fff;
		cursor: pointer;
		display: block;
		&:hover{
			@include background-image(linear-gradient(#8ce8ff, #1d7fc7));
		}
		&:active{
			@include background-image(linear-gradient(#1575c2, #56cbf3));
		}
	}
	.request__thanks{
		text-align: center;
		padding: 75px 0 0;
		height: 447px;
		color: #fff;
		font-family: Calibri, Arial, Helvetica, sans-serif;
		h2{
			font-size: 84px;
			margin: 6px 0 -2px;
			line-height: 1;
		}
		p{
			font-size: 22px;
			line-height: 1;
		}
	}
}


.footer{
	background: #161330;
	display: inline-block;
	width: 100%;
	min-width: 1000px;
	padding: 17px 0 0;
	height: 381px - 17px;
	border-bottom:18px solid #d1d5d8;
	.footer__right{
		opacity: 0.3;
		color:#fff;
		font-size: 15px;
		font-family: Calibri, Arial, Helvetica, sans-serif;
		margin: 19px 0 0 34px;
	}
	.contact{
		border-right:1px solid #3e3c54;
	}
}